*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --dark-grey: #1b1b32;
  --light-grey: #f5f6f7;
  --black: #000;
  --white: #fff;
  --grey: #3b3b4f;
  --font-family: 'Arial', sans-serif;
}

body {
  background-color:pink;;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.title {
  color: var(--light-grey);
  text-align: center;
  margin: 25px 0;
}
img{
  width: 107rem;
  height: 50rem;
  
}


.image-text {
    position: absolute;   
   text-align: left;
  top: 40%;
  left: 20%;           
    transform: translate(-50%, -50%); 
    color: white;         
    font-size: 50px;     
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7); 
    text-align: left;
}


header {
    background-color: rgba(0,0,0,0.5);
    color: rgb(253, 223, 236);
    font-size: 3.4rem;
    text-align: center;
    font-weight: bold;
   height: 3.5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 30px;
    padding-bottom: 30px;
}


#dessert-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  gap: 10px;
}

.dessert-card {
  background-color: var(--light-grey);
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  margin: 40px 30px;
}

.dessert-price {
  font-size: 1.5rem;
}

.btn {
 padding: 05px;
    background-color: rgb(219, 129, 144);
    color: white;
    font-weight: bold;
    border: 2px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    ;
}

.btn:hover {
  background-image: linear-gradient(#d71f69, #e5b0bf);
}

 #cart-btn {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }


.add-to-cart-btn {
  margin: 30px auto 10px;
}

#cart-container {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: var(--light-grey);
  width: 200px;
  height: 500px;
  border: 8px;
  border-radius: 15px;
  text-align: center;
  font-size: 1.2rem;
  overflow-y: scroll;
}
.cart-icon {
  width: 100px;
  height: 85px;
  display: block;
  margin: 0 auto;
}
.product {
  margin: 25px 0;
}

.product-count {
  display: inline-block;
  margin-right: 10px;
}

.product-category {
  margin: 10px 0;
}

/* About */
.about {
    padding: 80px 20px;
    background-color: #ffe6e0;
    text-align: center;
}

.about h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Contact */
.contact {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: rgb(219, 129, 144);
}

.contact h2 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    margin-bottom: 20px;
    padding-top: 0px;
}



.contact input, .contact textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}



/* Footer */
footer {
    text-align: center;
    padding: 30px 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
}


@media (min-width: 768px) {
  #dessert-card-container {
    flex-direction: row;
  }

  .dessert-card {
    flex: 1 0 21%;
  }

  #cart-container {
    width: 300px;
  }
}